{% extends 'experiencesGestion.html.twig' %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Gallerie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for experience in experiences %}
            <tr>
                <td type="hidden"><a href="{{ path('experience_show', { 'id': experience.id }) }}">{{ experience.id }}</a></td>
                <td>{{ experience.description }}</td>
                <td>{{ experience.gallerie }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('experience_show', { 'id': experience.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('experience_edit', { 'id': experience.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('experience_new') }}">Create a new experience</a>
        </li>
    </ul>
{% endblock %}
