{% extends 'articleGestion.html.twig' %}

{% block body %}
    <h1>Articles list</h1>

    <table>
        <thead>
            <tr>
                <th type="hidden">Id</th>
                <th>PublicationDate</th>
                <th>Description </th>
                <th>Link </th>
                <th>Actions </th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td ><a type="hidden" class="form-group" href="{{ path('article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                <td class="form-group">{% if article.datePublication %}{{ article.datePublication|date('Y-m-d') }}{% endif %}</td>
                <td class="form-group">{{ article.description }}</td>
                <td class="form-group"> {{ article.lien }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="form-group" href="{{ path('article_show', { 'id': article.id }) }}">Show</a>
                        </li>
                        <li>
                            <a href="{{ path('article_edit', { 'id': article.id }) }}">Edit Or Remove</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('article_new') }}">Create a new article</a>
        </li>
    </ul>
{% endblock %}
