{% extends 'base.html.twig' %}

{% block body %}
    <h1>Voyages list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Typedetransport</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voyage in voyages %}
            <tr>
                <td><a href="{{ path('voyage_show', { 'id': voyage.id }) }}">{{ voyage.id }}</a></td>
                <td>{{ voyage.typeDeTransport }}</td>
                <td>{% if voyage.dateDebut %}{{ voyage.dateDebut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if voyage.dateFin %}{{ voyage.dateFin|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('voyage_show', { 'id': voyage.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('voyage_edit', { 'id': voyage.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('voyage_new') }}">Create a new voyage</a>
        </li>
    </ul>
{% endblock %}
