{% extends 'base.html.twig' %}

{% block body %}
    <h1>Voyage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voyage.id }}</td>
            </tr>
            <tr>
                <th>Typedetransport</th>
                <td>{{ voyage.typeDeTransport }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{% if voyage.dateDebut %}{{ voyage.dateDebut|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{% if voyage.dateFin %}{{ voyage.dateFin|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('voyage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('voyage_edit', { 'id': voyage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
